@font-face {
  font-family: 'VAGRoundedStd-Light';
  src: url('../fonts/VAGRoundedStd-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/VAGRoundedStd-Light.woff') format('woff'), url('../fonts/VAGRoundedStd-Light.ttf')  format('truetype'), url('../fonts/VAGRoundedStd-Light.svg#VAGRoundedStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'VAGRoundedStd-Bold';
  src: url('../fonts/VAGRoundedStd-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/VAGRoundedStd-Bold.woff') format('woff'), url('../fonts/VAGRoundedStd-Bold.ttf')  format('truetype'), url('../fonts/VAGRoundedStd-Bold.svg#VAGRoundedStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.color-red{
	color:#e41116;
}

.title{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#b7c402;
	padding:15px;
	color:#FFF;
	font-size:1.3em;
	/*text-transform: uppercase;*/
  	font-weight: 300;
	margin:20px 0 20px 0;
}

.space{
	border-bottom:solid 1px #eee;
	margin:10px 0 10px 0;
	padding:10px;
}

.bottom{
	background:#e41116;
	padding:5px;
	color:#fff;
	text-align:center;
}

.creditos{
	background:#7d7d7d;
	padding:5px;
	color:#fff;
	text-align:center;
}

.creditos p{
	font-size:0.8em;
	padding:0px !important;
	margin:0px !important;
	font-weight:300;
}

.banner{
	margin-bottom:20px;
	margin-top:8%;
}


.assinatura{
	font-size:1em;
}

.DivBorder{
	margin:5px; 
	border-bottom:1px solid #999;
	padding-top: 50px;
}

.DivBorder1{
	margin:5px; 
	border-bottom:1px solid #999;
	padding-top: 50px;
}

.address-lojas{
	font-size:1em;
}

@media(max-width:480px){
	.banner{
	margin-bottom:20px;
	margin-top:25%;
}

.assinatura{
	font-size:0.8em;
}

.DivBorder{
	  margin-bottom: 30%;
  border-bottom: none;
  padding: 20px;
}

.DivBorder1{
	margin-bottom: 70%;
  border-bottom: none;
  padding: 20px;
}

.address-lojas{
	font-size:0.9em;
}

}
	

@media(max-width:320px){
	.banner{
	margin-bottom:20px; 
	margin-top:25%;
}

.assinatura{
	font-size:0.7em;
}

.DivBorder{
	  margin-bottom: 30%;
  border-bottom: none;
  padding: 20px;
}

.DivBorder1{
	margin-bottom: 70%;
  border-bottom: none;
  padding: 20px;
}

.address-lojas{
	font-size:0.9em;
}


}

/* LOJA */
select{
	-webkit-appearance: none;
}

form .formerize-placeholder{
	color: #000 !important; /* 999 */
	text-transform:uppercase;
}

form ::-webkit-input-placeholder{
	color: #000 !important; /* 999 */
	text-transform:uppercase;
}

form :-moz-placeholder{
	color: #000 !important; /* 999 */
	text-transform:uppercase;
}

form ::-moz-placeholder{
	color: #000 !important; /* 999 */
	text-transform:uppercase;
}

form :-ms-input-placeholder{
	color: #000 !important; /* 999 */
	text-transform:uppercase;
}

form ::-moz-focus-inner{
	border: 0;
}

select {
	border: 0;
	padding: 0.75em;
	font-size: 1em;
	border-radius: 8px;
	background: #FFF;
	color: #000;
	/* box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025); */
	width: 100%;
	-moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-o-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
}

	select:focus
	{
		/*background: #656565; /* #CD171E */
		/*color: #FFF;*/
		/*box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025), inset 0px 0px 2px 1px #74CAEE;*/
		background: #FFF;
		color: #000;
	}

.submit, .submit:hover {
	  background-color: #bdbd31;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	  border: 1px solid #ee1c24;
	  font-size: 1.1em;
	  color: #ee1c24;
	  padding: 15px 40px 15px 40px;
	  cursor: pointer;
	  text-transform: uppercase;
	  font-family: 'Nunito', sans-serif;
	  text-decoration:none;
}

.box-form2{
  background: #fd0020;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin-top:20px;
  margin-bottom: 5%;
  margin-left:-10px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.txtLojas1{
	font-family: 'Nunito', sans-serif;
	color: #000;
	text-align: left;
	font-size: 13px;
	font-weight: 300;
	padding-left:20px;
	padding-top:10px;
	}	
	.txtLojas1 a {
	display:block;
	text-decoration:none;
	color:#333;	
}
.txtLojas1 a:hover {
	display:block;
	background:#F2F2F2;	
}
	
.txtLojas2{
	font-family: 'Nunito', sans-serif;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	font-weight: 400;
	padding-left: 20px;
	padding-top: 10px;
	}	
	
.txtLojas3{
	font-family: 'Nunito', sans-serif;
	color: #656565;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	padding-left: 20px;
	padding-top: 10px;
	text-transform:uppercase;
	}	
.boder_lojas{
	background-color: rgb(253, 0, 32);
  margin-bottom: 30px;
	}	

.txtLojas{
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	color: #ed1c24;
	text-align: left;
	text-transform: uppercase;
}
	
.lojas{
	margin-bottom:30px;
}	
	
.txtLojas3{
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	color: #ed1c24;
	text-align: center;
	text-transform: uppercase;
}
		
.lojas3{
	margin-bottom:30px;
}	

.row_2 {
	text-align: center;
	padding:0;
	background: #ffffff;
}	

/*------ content ------- */
.bt_lojas a {
	color: #F00 !important;
	}


/*--- LOJA ----*/
#mapa-loja {
	margin: 20px 0;
}

#mapa-loja .infoloja {
	background-color: #EFEFEF;
	border-radius: 10px;
	padding: 15px;
}

#mapa-loja #map {
	height: 400px;
}

#mapa-loja .titlelojabox {
	background: url(../img/bg-classica-2.png) no-repeat center center / cover;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
}

#mapa-loja .tipolojatexto {
    font-size: 16px;
    float: right;
    padding: 10px 20px 5px;
    background-color: #DC0E01;
    border-radius: 10px;
}

#mapa-loja .titlelojabox h3 {
	font-family: 'VAGRoundedStd-Bold';
	font-size: 28px;
	color: #fff;
	font-weight: normal;
	text-shadow: 2px 2px 2px #000;
	margin: 10px 0 20px;
	text-align:left;
}

#mapa-loja #boxinfo {
	background: #fff;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 0;
	text-align:left;
}

#mapa-loja #boxinfo h5 {
	color: #EF1C23;
	font-family: 'VAGRoundedStd-Bold';
	font-weight: normal;
}

#mapa-loja #boxinfo .col-md-6 p{
	font-family: 'VAGRoundedStd-Light';
	font-weight:normal;
	font-size:14px;
}



#mapa-loja .listadeservicos ul li {
	display: inline;
	font-size: 30px;
}

#mapa-loja .select-dia {
	color: #fff;
	background: #D9534F;
	width: 100%;
	padding: 12px 5px 8px;
	border-radius: 5px;
	margin-bottom: 5px;
	border: 1px solid #D43F3A;
}

/*--- FIM LOJA ----*/

.top_beneficios{
	margin-top: 100px;	
	}
	
.titleBeneficios {
	color: #ed1c24;
	font-family: 'Nunito', sans-serif;
	font-size: 50px;
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 24px;
	text-transform: uppercase;
	margin-top: 25px;
}
.sub_title {
	color: #ed1c24;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	padding-top: 10px;
}

.subLoja {
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;

}


/*FOOTER*/

.prefooter {
	background: #EE1C24;
	color: #fff;
}

.superdia a {
 	color: #fff;
}

.grupodia {	
	text-align: right;
}

.grupodia ul {
	margin-bottom: 0;
	margin-top: 5px;
}

.grupodia ul li {
	display: inline;
}

.grupodia ul li:last-child {
	margin-right: 0px;
}

.grupodia ul li:after {
	content: " | ";
	padding: 5px;
}

.grupodia ul li:last-child:after {
	content: "";
	padding: 0px;
}


.grupodia ul li a {
	color: #fff;
}

.adressbottom {
	background-color: #303030;
	font-size: 10px;
	color: #9b9b9b;
	padding: 5px 0;
}



	
	